.fixed-to-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.price {
  font-family: var(--van-card-price-font-family);
  color: var(--van-primary-color);
  font-size: 16px;
  font-weight: 500;
  &::before {
    content: '￥';
    font-size: 12px;
  }
}

:root {
  // 主题色
  --van-primary-color: #f2270c;
  --pxx-primary-color: #f2270c;
  // 价格颜色
  --pxx-price-color: #f2270c;
  // 页面背景
  --pxx-page-background: #f7f7f7;
}